# Environment variables
.env

# Virtual environments
IVenv/
ILVenv/
IWVenv/


# Python cache and temporary files
__pycache__/
*.db


# dbt
dbt/target/
dbt/logs/
dbt/.user.yml
dbt/dbt_packages/
dbt/package-lock.yml

# Project specific
tmp/
Helpers/
