# Environment variables
.env

# Virtual environments
IVenv/
ILVenv/
IWVenv/


# Python cache and temporary files
__pycache__/
*.db


# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# Project specific
tmp/
Helpers/
